export(gk_detect)
export(gk_detect_ensemble)
export(gk_install_python)
export(gk_load_example)
export(gk_list_examples)
export(gk_methods)
S3method(print, gaitkit_result)
S3method(summary, gaitkit_result)
S3method(plot, gaitkit_result)
importFrom(jsonlite, toJSON)
importFrom(reticulate, import)
importFrom(reticulate, py_module_available)
importFrom(reticulate, py_to_r)
